.accordion {
    overflow: hidden;
    max-height: 0;
    padding-left: 0;

    list-style: none;

    opacity: 0;

    transition: max-height 0.5s, opacity 0.5s;

    &.expanded {
        max-height: 100rem;
        opacity: 1;
        transition: max-height 1s, opacity 0.5s;
    }

    .task {
        margin: 0 $spacing * 0.5;
        padding-left: $spacing * 0.5;
        border-bottom: solid 1px $color8;
        border-radius: 0;

        background-color: transparent;
        color: $color2;

        transition: color 0.5s;

        .button--radio label:before {
            background-color: $color8;
        }
        
        &.active .button--radio label:before {
            @debug &;
            background-color: $color4;
        }
    }

    .task.active {
        color: transparentize($color2, 0.5);
    }
}