.button {
    display: block;

    box-sizing: border-box;
    border: none;
    padding: 0;
    outline: none;

    background-color: transparent;

    &--create {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 1;

        height: 5.5rem;
        width: 5.5rem;
        border: solid 4px $color4;
        border-radius: 50%;

        background-color: $color2;
        color: $color0;

        font-size: 3.8em;
        line-height: 100%;

        transition: background-color 0.5s;

        &.active {
            background-color: $color4;
        }
    }

    &--priority {
        display: inline-block;

        border-radius: 1rem;
        width: 30%;
        margin: 0 1.5%;
        padding: 0.25em;

        font-size: 0.8em;

        transition: background 0.5s;

        &.active {
            color: $color0;
        }

        &--low {
            border: solid 1px $color10;
            
            color: $color10;

            &.active {
                background: $color10;
            }
        }

        &--medium {
            border: solid 1px $color5;

            color: $color5;

            &.active {
                background: $color5;
            }
        }

        &--high {
            border: solid 1px $color3;

            color: $color3;

            &.active {
                background: $color3;
            }
        }
    }

    &--close {
        position: absolute;
        bottom: $spacing * 0.5;
        right: $spacing * 3;

        height: 1.5rem;
        width: 1.5rem;

        color: $color3;

        font-size: 1rem;
        font-weight: bold;
        text-decoration: underline;
    }

    &--expand {
        position: absolute;
        top: 50%;
        right: $spacing * 4;
        transform: translateY(-50%) rotateZ(0deg);

        width: 1rem;
        border: none;

        transition: transform 0.5s;
        animation: fadeIn 1s forwards;

        &.expanded {
            transform: translateY(-50%) rotateZ(180deg);
        }

        & > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            fill: $color0;
        }
    }
}