.button {
    display: block;

    box-sizing: border-box;
    border: none;
    padding: 0;

    background-color: transparent;

    &--create {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 1;

        height: 5.5rem;
        width: 5.5rem;
        border: solid 4px $color4;
        border-radius: 50%;

        background-color: $color2;
        color: $color0;

        font-size: 3.8em;
        line-height: 100%;

        transition: background-color 0.5s;

        &.active {
            background-color: $color4;
        }
    }

    &--priority {
        display: inline-block;

        border-radius: 1rem;
        width: 30%;
        margin: 0 1.5%;
        padding: 0.25em;

        font-size: 0.8em;

        &.active {
            color: $color0;
        }

        &--low {
            border: solid 1px $color10;
            
            color: $color10;

            &.active {
                background: $color10;
            }
        }

        &--med {
            border: solid 1px $color5;

            color: $color5;

            &.active {
                background: $color5;
            }
        }

        &--high {
            border: solid 1px $color3;

            color: $color3;

            &.active {
                background: $color3;
            }
        }
    }
}