.create {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    overflow: hidden;
    height: 100%;
    width: 100%;

    background: transparent;
    backdrop-filter: blur(0);

    pointer-events: none;

    transition: background 1s, backdrop-filter 1s;

    &.active {
        background: transparentize(darken($color0, 10%), 0.5);
        backdrop-filter: blur(2px);
        pointer-events: all;

        transition: background 1s;
    }

    &__inner {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);

        width: 100%;

        background-color: $color9;
        filter: blur(0);

        transition: transform 1s;

        .create.active & {
            transform: translateY(0%);
        }

        @media (min-width: $tablet) {
            padding: $spacing * 5;
        }
        
        @media (min-width: $tablet) {
            padding: $spacing * 4 $spacing * 7.5;
        }
    }

    &__text {
        box-sizing: border-box;
        min-height: 100px;
        width: 100%;
        border-radius: 0.5em;
        border: none;
        resize: none;
        border: solid 1px transparent;

        transition: border 1s;

        &--warning {
            border: solid 1px $color3;
        }

        &::placeholder {
            color: transparentize($color2, 0.66);
            
            font-weight: bold;
        }
    }

    &__warning {
        text-align: left;

        position: relative;

        overflow: hidden;
        height: 1.5em;
        max-height: 0;

        transition: max-height 0.5s;

        &.active {
            max-height: 1.5em;
        }

        &__text {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            color: $color3;

            font-weight: bold;

            opacity: 0;
            
            transition: opacity 1s;

            .create__warning.active & {
                opacity: 1;
            }
        }
    }
}