.create {
    position: absolute;
    bottom: 0;
    left: 0;

    overflow: hidden;
    height: 400px;
    width: 100%;

    &__inner {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);

        width: 100%;

        background-color: $color9;

        transition: transform 1s;

        &.active {
            transform: translateY(0%);
        }
    }

    &__text {
        min-height: 100px;
        width: 100%;
        border-radius: 0.5em;
        border: none;
        resize: none;


        &::placeholder {
            color: transparentize($color2, 0.66);
            
            font-weight: bold;
        }
    }
}