.create {
    position: absolute;
    bottom: 0;
    left: 0;

    overflow: hidden;
    height: 200px;
    width: 100%;

    &__inner {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;

        background-color: $color9;

        transition: transform 1s;

        transform: translateY(100%);

        &.active {
            transform: translate(-50%, 0);
        }
    }

    &__text {
        width: 100%;
        padding: $spacing * 0.5 $spacing;
        border-radius: 0.25em;
        border: none;
        resize: none;

        &::placeholder {
            color: transparentize($color2, 0.66);
        }
    }
}