.tasksContainer {
    overflow-y: scroll;
    height: 32em;
    width: 100%;

    @media (min-width: $tablet) {
        padding: $spacing * 2 $spacing * 5;
    }

    @media (min-width: $desktop) {
        padding: $spacing * 2 $spacing * 10;
    }
}

.task {
    display: block;

    text-align: left;

    margin: $spacing auto 0 auto;
    padding: $spacing * 1.5 $spacing * 0.75;
    border-radius: 0.75em;

    background-color: $color2;
    color: $color0;

    transition: background-color 1s;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.active {
        background-color: transparentize($color2, 0.4);
    }
    
    &__title {
        text-align: left;
        vertical-align: middle;

        overflow: hidden;
        max-width: 180px;
        padding-left: $spacing * 0.75;
        border-left: solid 1px $color10;

        font-size: 1.2em;
        font-weight: normal;
        white-space: nowrap;

        &--medium {
            border-left: solid 1px $color5;
        }

        &--high {
            border-left: solid 1px $color3;
        }
    }
}