@include addFont('Proxima Nova', 'Proxima Nova Regular', normal, normal, 'otf');
@include addFont('Proxima Nova', 'Proxima Nova Bold', bold, normal, 'otf');

html {
    font-size: 62.5%;
}

body, textarea {
    font-family: 'Proxima Nova';
}

h1 {
    font-size: 2rem;

    @media (min-width: $tablet) {
        font-size: 2.25rem;
    }

    @media (min-width: $desktop) {
        font-size: 2.5rem;
    }
}