// Colors
$color0: #fff;
$color1: #000;
$color2: #082334;
$color3: #E25555;
$color4: #65D57E;
$color5: #E29155;
$color6: #00000029;
$color7: #D9D9D9;
$color8: #E8E8E8;
$color9: #E5E5E5;
$color10: #C4C4C4;
$color11: #808080;

// Breakpoints
$mobile: 576px;
$tablet: 786px;
$desktop: 992px;
$desktop-lg: 120rem;

// Miscellaneous
$spacing: 1rem;